.links {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0rem;
  margin-bottom: 1rem;
  list-style: none;
  justify-content: flex-end;
  font-weight: bold;
  font-size: small;
}

a {
  color: grey;
}

a:hover {
  color: grey;
  text-decoration: none;
}

.active {
  color: orangered;
}

.active:hover {
  color: orangered;
}
